//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    include ../components/_layout/headers/header



    section
        .container
            .row
                .col-5
                    +img('img/illus/pic/pic1.png', 'img-responsive')
                .offset-1.col-5
                    h2 Дихай вільно,  живи весело в місті!
                    p Lorem ipsum – псевдо-латинский текст, который используется  для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение  не на содержание, а на элементы дизайна.
                    p Такой текст также называется как заполнитель.  Это очень удобный инструмент для моделей (макетов).
                    .spacer-20
                    +link-detail-big('Читати більше')

    section
        .container
            .row
                .col-12
                    h2.color-white 25 хвилин  від центру