//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | LALALAND - Головна сторінка

block content

    +header-index()



    section.section-back.section-river
        .container
            .row.img-change
                .col-sm-6.col-md-5.img-change_place
                    +img('img/illus/pic/pic1.png', 'img-responsive img-change_image')
                .col-sm-6.offset-lg-1.col-lg-5.col-md-7.section-back__text
                        h2.img-change_heading Дихай вільно,  живи весело в місті!
                        p Lorem ipsum – псевдо-латинский текст, который используется  для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение  не на содержание, а на элементы дизайна.
                        p Такой текст также называется как заполнитель.  Это очень удобный инструмент для моделей (макетов).
                        .spacer-20
                        +link-detail-big('Читати більше')
        +img('img/illus/back/river.svg', 'img-back img-back-river')
        +img('img/illus/back/trees.svg', 'img-back img-back-trees')

        +img('img/illus/back/river-mob.svg', 'img-back img-back-river-mob')
        +img('img/illus/back/trees-mob.svg', 'img-back img-back-trees-mob')



    section.section-map
        .container
            .row
                .col-7.col-sm-6.offset-md-1.col-lg-3.col-md-5
                    h2.color-white 25 хвилин  від центру
                .col-12
                    include ../components/_widgets/map/map

        +img('img/illus/back/road.svg', 'img-back img-back-road')
        +img('img/illus/back/car.svg', 'img-back img-back-car')
        +img('img/illus/back/car-mob.svg', 'img-back img-back-car-mob')


    section
        .container
            .test-row
                .test-row__description.img-change
                    .test-row__image.img-change_place
                        +img('img/illus/steps/step1.png', 'img-change_image')

                    .test-row__text
                        h2.img-change_heading Допоможемо обрати  вашу ідеальну квартиру
                        .test-row__text__test
                            p З якою метою ви шукаєте квартиру?
                            +btn('Для себе')
                            +btn('Для сім’ї')
                            +btn('Для інвестицій')
                            +btn('Для інвестицій')
                .test-row__steps
                    ul.test-steps
                        li
                            a(href='' title='').test-steps_link Етап 1
                        li
                            a(href='' title='').test-steps_link Етап 2
                        li
                            a(href='' title='').test-steps_link.active Етап 3





    +fundament-index()

    +section-manager()

