extend layouts/_layout-pages.pug

block title
    | Сторінки

block content
    - console.log(pages)
    section
        .container
            .row
                - var num = 0
                each page in pages
                    .col-md-4.col-lg-3
                        a(href= page.href title='' target='_blank' style='margin-bottom:25px').btn
                            = num++
                            | .
                            | &nbsp;
                            = page.title
