//- layouts/layout.pug
extend layouts/_layout-range.pug

block title
    | LALALAND - Вибір планування


block content

    +breadcrumbs-section('Вибір планування')

    +header-planning()

    section.section-planning.section-back
        .container
            .row
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan-discount()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan-discount()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan-discount()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan-discount()
                .col-sm-6.col-lg-4.col-xl-3
                    +plan()
            .row
                .col-12
                    +pagination()






