


button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display block
  max-width 229px
  width 100%
  text-align center
  border-radius 30px
  bg($pink)
  co($wt)

  font-size: e(16)
  font-weight: bold;
  pt(15)
  pb(16)
  +xs()
    max-width 100%

  &:hover
    co($wt)
    bg($pink-dark)

.btn-white
  bg($wt)
  co(#064778)

.btn-center
  mc()

.btn-filter
  max-width 263px
  max-height 78px
  height 100%
  border-radius 10px
  bg(#ffdd00)
  text-align left
  padding r(18) r(29) r(21)
  overflow hidden
  position relative
  +mob()
    max-width 100%
  &_empty, &_choosed
    max-width 70%
    co(#064778)
    fs(14)
    fw(500)
    line-height: 1.43;
    position relative
    z-index 2
    +tab()
      max-width 90%
    +port()
      max-width 90%
  &_choosed
    display none
    max-width 50%
    +tab()
      max-width 70%
    +port()
      max-width 70%
  &_img
    position absolute
    top -10px
    right 20px
    &-choosed
      display none
  &:hover
    bg(#ffeb6b)

  &.choosed
    bg(#ebf7ff)
    .btn-filter_empty
      display none
    .btn-filter_choosed
      display block
    .btn-filter_img-choosed
      display block
    .btn-filter_img-empty
      display none
    &:hover
      bg(#b4ebff)