


button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display block
  max-width 229px
  width 100%
  text-align center
  border-radius 30px
  bg($pink)
  co($wt)

  font-size: e(16)
  font-weight: bold;
  pt(15)
  pb(16)


  &:hover
    co($wt)
    bg($pink-dark)

.btn-center
  mc()