.section-fundament
  z-index 300
  pt(78)
  pb(201)
  +mob()
    pt(0)
    pb(87)
  &.section-fundament-index
    bg($green)
    &:after
      ba()
      bg($green)
      bottom 0
      top -527px
      left 0
      right 0
      z-index -1

.img-fundament
  margin r(6) 0
  max-width 100%
  +mob()
    mt(0)
    mb(38)