ul.map-list
    li
        a(href='' title='').map-list__link
            .map-list__link_icon
                include ../../_svgs/icon-map1.svg
            .map-list__link_text Школи та дитсадки
            .map-list__link_dest 1 400 м
    li
        a(href='' title='').map-list__link
            .map-list__link_icon
                include ../../_svgs/icon-map2.svg
            .map-list__link_text Супермаркети
            .map-list__link_dest 400 м
    li
        a(href='' title='').map-list__link
            .map-list__link_icon
                include ../../_svgs/icon-map3.svg
            .map-list__link_text Торгові центри
            .map-list__link_dest 400 м
    li
        a(href='' title='').map-list__link.active
            .map-list__link_icon
                include ../../_svgs/icon-map4.svg
            .map-list__link_text Кінотеатри
            .map-list__link_dest 400 м
    li
        a(href='' title='').map-list__link
            .map-list__link_icon
                include ../../_svgs/icon-map5.svg
            .map-list__link_text Лікарні та аптеки
            .map-list__link_dest 400 м
    li
        a(href='' title='').map-list__link
            .map-list__link_icon
                include ../../_svgs/icon-map6.svg
            .map-list__link_text Парки
            .map-list__link_dest 400 м
