.map
  width 100%
  position relative
  +mob()
    margin: 0 -15px;
    width: calc(100% + 30px);
  &-block
    bg($wt)
    position absolute
    left 97px
    top 62px
    pt(47)
    pl(100)
    pr(94)
    max-width 457px
    width 100%
    +port()
      left 0
      max-width 400px
      pl(40)
      pr(40)
      pt(37)
    +mob()
      position static
      pl(15)
      pr(26)
      pt(28)

.map-list
  ds(col)
  pb(37)
  +mob()
    pb(32)
  li
    mb(23)
    +mob()
      mb(16)
    .map-list__link
      display flex
      align-items center
      justify-content space-between
      font-size: e(14)
      color: $gray-text1
      &_icon
        width 25px
        height 25px
        display flex
        align-items center
        justify-content center
        mr(24)
        +mob()
          width 20px
          height 20px
          mr(14)
        svg g
          fill $gray-text1
      &_text, &_dest
        width 100%
        trans()
      &_dest
        font-weight: 500;
        color: $gray-text2;
        max-width 70px
        text-align right
      &:hover
        .map-list__link_icon
          svg g
            fill $blue-dark
        .map-list__link_text, .map-list__link_dest
          co($blue-dark)
      &.active
        .map-list__link_icon
          svg g
            fill $pink
        .map-list__link_text, .map-list__link_dest
          co($blue-dark)

#map
  width 100%
  height 100%
  mb(30)
  height 376px
  +mob()
    height: 136px
    mb(0)

