

.map
  width 100%
  position relative
  +mob()
    margin: 0 -15px;
    width: calc(100% + 30px);
  &-block
    bg($wt)
    position absolute
    left 97px
    top 62px
    pt(47)
    pl(100)
    pr(94)
    max-width 457px
    width 100%
    +port()
      left 0
      max-width 400px
      pl(40)
      pr(40)
      pt(37)
    +mob()
      position static
    +land()
      pl(40)
      pr(40)
      pt(37)
      max-width 100%
    +xs()
      pl(15)
      pr(26)
      pt(28)

.map-list
  ds(col)
  pb(37)
  +mob()
    pb(32)
  li
    mb(23)
    +mob()
      mb(16)
    .map-list__link
      display flex
      align-items center
      justify-content space-between
      font-size: e(14)
      color: $gray-text1
      &_icon
        width 25px
        height 25px
        display flex
        align-items center
        justify-content center
        mr(24)
        +mob()
          width 20px
          height 20px
          mr(14)
        svg g
          fill $gray-text1
      &_text, &_dest
        width 100%
        trans()
      &_dest
        font-weight: 500;
        color: $gray-text2;
        max-width 70px
        text-align right
      &:hover
        .map-list__link_icon
          svg g
            fill $blue-dark
        .map-list__link_text, .map-list__link_dest
          co($blue-dark)
      &.active
        .map-list__link_icon
          svg g
            fill $pink
        .map-list__link_text, .map-list__link_dest
          co($blue-dark)

#map
  width 100%
  height 100%
  mb(30)
  height 376px
  bg($gr)
  +mob()
    mb(0)
  +land()
    height 236px
  +xs()
    height: 136px


.map-after
  mb(300)
  +xs()
    mb(414)

.map-contacts

  #map
    width 100%
    height 376px
    +mob()
      height 136px
  &__block
    bg($wt)
    padding r(65) r(68) 0 r(68)
    +xs()
      padding r(26) 0
    .btn
      mc()
      max-width 263px
      position relative
      bottom -22px
      +xs()
        display none


.map-contacts__list
  &__li
    display flex
    mb(27)
    &_icon
      flex 0 0 28px
      max-width 28px
      display flex
      justify-content center
      mr(24)
    &_name
      co($gray-text1)
      fw(700)
      width 100%
    &_link
      flex 0 0 144px
      max-width 144px
      a
        font-size: e(14)
        font-weight: 300;
        line-height: 1.71;
        color: $gray-text2
        text-decoration underline
        text-decoration-color $pink
        width 100%
        &:hover
          co($pink)
          text-decoration-color $tr

