$invisible
  opacity 0
  visibility hidden
  z-index -1

$visible
  opacity 1
  visibility visible
  z-index 1


.project
  display block
  bg($wt)
  box-shadow: 2px 4px 19px 0 rgba(187, 196, 215, 0.31);
  padding r(32) r(44) r(46) r(8)
  mb(30)
  +port()
    padding r(10) r(25) r(20)
  +xs()
    padding r(0) r(35) r(47)
  h5
    co($ocean2)
    mb(23)
    trans()
    +xs()
      text-align center
  &__image
    position relative
    height 100%
    +port()
      min-height 200px
    +xs()
      min-height 200px
  &__image_co, &__image_wt
    display flex
    align-items center
    justify-content center
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    trans()
    +tab()
      pl(15)

    img
      max-width 100%

  &__image_wt
    @extends $invisible

  &:hover
    bg($pink)
    h5
      co($pink-darker)
    .project__image_wt
      @extends $visible
    .project__image_co
      @extends $invisible
    .project-statistics__li_heading
      co($pink-light)
    .project-statistics__li_description
      co($wt)


.project-statistics
  display flex
  flex-wrap wrap
  &__li
    display flex
    justify-content space-between
    width 100%
    mb(5)
    &_heading, &_description
      flex 0 0 45%
      max-width 45%
      fs(14)
      line-height: 1.29;
      trans()
    &_heading
      co($gray-text1)
    &_description
      co($bltx1)
      fw(500)