@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Italic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Italic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-LightItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


html {
	font-size: 16px;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	color: #000;
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
}
::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite {
	font-family: 'Ubuntu', sans-serif;
	color: #000;
}
h1 {
	font-size: 2.875em;
	font-weight: 700;
	line-height: 1.22;
	margin-bottom: 1.875rem;
	color: #0066b3;
}
h2 {
	font-size: 1.875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: .10546875rem;
}
h3 {
	font-size: 1.875em;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 2rem;
	color: #fff;
}
h4 {
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.375rem;
}
h5 {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.75rem;
}
h6 {
	font-size: .875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 3.125rem;
}
p {
	font-size: .875em;
	font-weight: 400;
	line-height: 1.71;
	margin-bottom: 1.375rem;
	color: #969fb1;
}
hr {
	border: 0;
	height: 1px;
	background-color: #000;
	margin: .9375rem 0;
}
blockquote {
	padding: .9375rem;
	position: relative;
	font-size: .0625em;
}
blockquote:before, blockquote:after {
	position: absolute;
	display: block;
	line-height: 1;
}
blockquote:before {
	content: open-quote;
	left: 0;
	top: 0;
}
blockquote:after {
	content: close-quote;
	right: 0;
	bottom: 0;
}
cite {
	font-size: .0625em;
	font-style: italic;
	color: #a9a9a9;
}
header {
	height: 485px;
	position: relative;
	z-index: 100;
}
header:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 90vw;
	background-color: #e5f8fe;
	z-index: -1;
	left: 5vw;
}
.header_image {
	position: relative;
	z-index: 90;
	height: 100%;
}
.header_image img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.header-container {
	height: 100%;
}
.header-container__row {
	height: 100%;
}
.header-description {
	padding: 5.875rem 0;
}
nav {
	background-color: #fff;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	position: relative;
	z-index: 9999;
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.col-nav-1 {
	max-width: 170px;
}
.col-nav-3 {
	max-width: 460px;
}
.nav-icon {
	width: 30px;
	height: 22px;
	position: relative;
	margin: .875rem 0;
	cursor: pointer;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #000;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
.nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.nav-menu li {
	margin: 0 .5625rem;
}
.nav-menu li a {
	display: block;
	color: #5b5e74;
	font-size: .8125em;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.nav-menu li a:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -12px;
	left: 0;
	right: 0;
	background-color: #eb53c0;
	height: 4px;
	width: 0;
	z-index: -1;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-menu li a:hover, .nav-menu li a.active {
	color: #5b5e74;
}
.nav-menu li a:hover:after, .nav-menu li a.active:after {
	width: 100%;
}
.nav-menu li a.active:after {
	background-color: #fd0;
}
.nav-widgets {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.nav-widgets__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #0fc0ea;
	font-weight: 700;
	font-size: 1.25em;
}
.nav-widgets__phone svg {
	margin-right: .02734375rem;
}
.nav-widgets__phone svg g {
	fill: #0fc0ea;
}
.nav-widgets__phone:hover {
	color: #83e7ff;
}
.nav-widgets__phone:hover svg g {
	fill: #83e7ff;
}
.nav-widgets__star {
	position: relative;
	display: block;
	margin: 0 .9375rem;
}
.nav-widgets__star_count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #eb53c0;
	color: #fff;
	font-size: .03125em;
	position: absolute;
	bottom: 7px;
	right: 0;
}
.nav-widgets__star svg g {
	fill: #fd0;
}
.nav-widgets__star:hover svg g {
	fill: #ffeb6b;
}
.nav-widgets__camera {
	display: block;
	padding: .5rem;
	position: relative;
	z-index: 10;
}
.nav-widgets__camera a {
	display: block;
}
.nav-widgets__camera__tooltip {
	position: absolute;
	font-size: 12px;
	line-height: 1.33;
	color: #969fb1;
	width: 165px;
	padding: 1.25rem 2.125rem 1.0625rem 1.3125rem;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 9px 0 rgba(158,197,221,.4);
	        box-shadow: 0 2px 9px 0 rgba(158,197,221,.4);
	top: 112%;
	right: 0;
	border-radius: 5px;
	-webkit-animation: ds-none .2s both;
	        animation: ds-none .2s both;
	z-index: 900;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-widgets__camera__tooltip:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	top: -20px;
	right: 0;
	border-radius: 5px;
}
.nav-widgets__camera__tooltip_close {
	width: 13px;
	height: 13px;
	display: block;
	position: absolute;
	top: 13px;
	right: 13px;
	cursor: pointer;
}
.nav-widgets__camera__tooltip_close:after, .nav-widgets__camera__tooltip_close:before {
	content: '';
	display: block;
	position: absolute;
	width: 13px;
	height: 2px;
	background-color: #eb53c0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-widgets__camera__tooltip_close:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.nav-widgets__camera__tooltip_close:before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.nav-widgets__camera__tooltip_close:hover:after, .nav-widgets__camera__tooltip_close:hover:before {
	background-color: #b40f86;
}
.nav-widgets__camera:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	background-color: #0fc0ea;
	height: 100px;
	z-index: -1;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-widgets__camera:hover:after {
	background-color: #83e7ff;
}
.link-logo {
	display: block;
	max-width: 130px;
	padding: 2.1875rem 0 1.875rem;
}
.link-logo img {
	width: 100%;
}
section {
	padding-top: 0rem;
	padding-bottom: 0rem;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
button:focus {
	outline: none;
}
.btn {
	display: block;
	max-width: 320px;
	width: 100%;
	text-align: center;
	background-color: #00f;
	color: #fff;
	padding: .75rem .9375rem .8125rem;
	margin-bottom: .05859375rem;
}
.btn:hover {
	color: #fff;
	background-color: #add8e6;
}
.btn-center {
	margin-left: auto;
	margin-right: auto;
}
.img-responsive {
	width: 100%;
}
a {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #00f;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a svg g {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a:hover {
	text-decoration: none;
	color: #add8e6;
}
a:focus {
	text-decoration: none;
	outline: none;
}
ul li {
	list-style: none;
}
ul li ul {
	margin-right: .05859375rem;
	margin-left: .078125rem;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul li, ol li {
	font-family: 'Ubuntu', sans-serif;
}
ol {
	margin-left: .078125rem;
}
ol li ol {
	margin-top: .05859375rem;
}
.ul-regular li {
	position: relative;
	padding-left: .078125rem;
	margin-bottom: .078125rem;
}
.ul-regular li:before {
	width: 8px;
	height: 1px;
	background-color: #000;
	top: 10px;
	left: 0;
}
input {
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: .078125rem;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: .6875rem .9375rem .75rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:focus {
	outline: none;
	border-color: #00f;
}
input:-moz-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=reset] {
	border: 0;
	cursor: pointer;
}
label {
	padding-left: .0625rem;
	font-weight: 700;
	font-size: .0625em;
	margin-bottom: .05078125rem;
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: .078125rem;
	border: 1px solid #ccc;
	border-radius: 0;
	width: 100%;
	height: 100px;
	padding: .6875rem .9375rem .75rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
textarea:focus {
	outline: none;
	border-color: #00f;
}
textarea:-moz-placeholder {
	color: #999;
}
textarea::-moz-placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
}
.input-group {
	position: relative;
	margin-bottom: .078125rem;
}
.input-group input {
	margin-bottom: 0rem;
	padding-left: .17578125rem;
}
.input-group input:focus + span {
	color: #00f;
}
.input-group textarea {
	padding-left: .17578125rem;
	margin-bottom: 0rem;
}
.input-group textarea + span {
	height: 45px;
}
.input-group textarea:focus + span {
	color: #00f;
}
.input-group select {
	padding-left: .17578125rem;
	margin-bottom: 0rem;
}
.input-group span {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 45px;
	height: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
select {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: .75rem .9375rem .8125rem;
	border-radius: 0;
	display: block;
	margin-bottom: .078125rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
select:focus {
	outline: none;
	border: 1px solid #00f;
}
.select-group {
	position: relative;
	margin-bottom: .078125rem;
}
.select-group:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
}
.select-group-noarrow:after {
	display: none;
}
.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: .0625rem;
}
.tabs li a {
	cursor: pointer;
	padding: .75rem .9375rem .8125rem;
	color: #000;
	display: block;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.tabs li a:hover {
	color: #fff;
	background-color: #add8e6;
}
.tabs li a.active {
	color: #fff;
	background-color: #00f;
}
.tabs-content {
	display: none;
	padding: .625rem .9375rem;
	-webkit-animation: fadeEffect 1s;
	        animation: fadeEffect 1s;
}
.tabs-content.active {
	display: block;
}
@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.discount {
	background-color: #fd0;
	position: relative;
}
.discount__image {
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -150px;
}
.discount__description {
	padding-top: .9375rem;
	padding-left: 6.125rem;
}
.discount.discount-header {
	position: absolute;
	top: -87px;
	left: 15px;
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .0390625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: .3125rem;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}