@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Italic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Italic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-LightItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
	url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'),
	url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


html {
	font-size: 16px;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	color: #000;
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 7.375rem;
}
@media (max-width: 767px) {
	body {
		padding-top: 4.75rem;
	}
}
.spacer-20 {
	height: 20px;
}
.spacer-50 {
	height: 50px;
}
@media (max-width: 567px) {
	.container {
		max-width: 100% !important;
	}
}
::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite {
	font-family: 'Ubuntu', sans-serif;
	color: #000;
}
h1 {
	font-size: 2.875em;
	font-weight: 700;
	line-height: 1.22;
	margin-bottom: 1.875rem;
	color: #0066b3;
}
@media (max-width: 767px) {
	h1 {
		font-size: 1.625em;
	}
}
h2 {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.29;
	margin: 1.25rem 0 4.125rem;
	color: #61c8e0;
}
@media (max-width: 767px) {
	h2 {
		font-size: 1.625em;
		line-height: 1.23;
		margin-bottom: 2.125rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	h2 {
		margin-top: .625rem;
	}
}
@media (max-width: 567px) {
	h2 {
		margin-top: 0rem;
	}
}
h3 {
	font-size: 1.875em;
	font-weight: 700;
	line-height: normal;
	margin-bottom: .5rem;
	color: #fff;
}
@media (max-width: 767px) {
	h3 {
		font-size: 1.25em;
	}
}
h4 {
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.36;
	margin-bottom: 1.3125rem;
	color: #5b5e74;
}
@media (max-width: 767px) {
	h4 {
		text-align: center;
		font-size: 1em;
		margin-bottom: .625rem;
	}
}
h6 {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.4375rem;
	color: #29475d;
}
@media (max-width: 767px) {
	h6 {
		font-size: 1em;
		margin-bottom: .5625rem;
	}
}
p {
	font-size: .875em;
	font-weight: 400;
	line-height: 1.71;
	margin-bottom: 1.375rem;
	color: #969fb1;
}
hr {
	border: 0;
	height: 1px;
	background-color: #393b42;
}
.color-white {
	color: #fff;
}
.text-center {
	text-align: center;
}
blockquote {
	padding: .9375rem;
	position: relative;
	font-size: 1em;
}
blockquote:before, blockquote:after {
	position: absolute;
	display: block;
	line-height: 1;
}
blockquote:before {
	content: open-quote;
	left: 0;
	top: 0;
}
blockquote:after {
	content: close-quote;
	right: 0;
	bottom: 0;
}
cite {
	font-size: 1em;
	font-style: italic;
	color: #a9a9a9;
}
header {
	height: 485px;
	position: relative;
	z-index: 100;
	margin-bottom: 10.625rem;
}
@media (max-width: 767px) {
	header {
		height: auto;
	}
}
@media (max-width: 567px) {
	header {
		margin-bottom: 14.1875rem;
	}
}
header:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 90vw;
	background-color: #e5f8fe;
	z-index: -1;
	left: 5vw;
}
.header_image {
	position: relative;
	z-index: 90;
	height: 100%;
}
.header_image img {
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
@media (min-width: 768px) and (max-width: 991px) {
	.header_image img {
		max-width: 500px;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.header_image img {
		max-width: 350px;
	}
}
.header-container {
	height: 100%;
}
.header-container__row {
	height: 100%;
}
@media (max-width: 767px) {
	.header-container__row {
		min-height: 402px;
	}
}
.header-description {
	padding: 5.875rem 0;
	position: relative;
	z-index: 400;
}
@media (min-width: 568px) and (max-width: 767px) {
	.header-description {
		padding: 1.8125rem 0;
	}
}
@media (max-width: 567px) {
	.header-description {
		padding: 1.8125rem 1.5625rem;
	}
}
@media (max-width: 767px) {
	.header-description p {
		font-size: .75rem;
		line-height: 1.5;
		margin-bottom: 1rem;
	}
}
body.open .nav-panel {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
body.open .nav-icon {
	position: relative;
	z-index: 9999;
}
body.open .nav-icon span:nth-child(1) {
	top: 18px;
	width: 0;
	left: 50%;
}
body.open .nav-icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
body.open .nav-icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
body.open .nav-icon span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}
nav {
	background-color: #fff;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
@media (min-width: 992px) and (max-width: 1199px) {
	nav .container {
		max-width: 100% !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	nav .container {
		max-width: 100% !important;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	nav .container {
		max-width: 100% !important;
	}
}
nav.scroll .link-logo {
	padding: .9375rem 0 .625rem;
}
@media (max-width: 767px) {
	nav.scroll .link-logo {
		padding: .625rem 0 .3125rem;
	}
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}
.col-nav-1 {
	max-width: 170px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-nav-1 {
		max-width: 100px;
	}
}
@media (max-width: 767px) {
	.col-nav-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		    flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-nav-2 {
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (max-width: 767px) {
	.col-nav-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		max-width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
	}
}
.col-nav-3 {
	max-width: 460px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-nav-3 {
		max-width: 245px;
	}
}
@media (max-width: 767px) {
	.col-nav-3 {
		max-width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
	}
}
.nav-icon {
	width: 30px;
	height: 22px;
	position: relative;
	margin: .875rem 0;
	cursor: pointer;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #0fc0ea;
	border-radius: 3px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
.nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-menu {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		height: auto;
	}
}
@media (max-width: 767px) {
	.nav-menu {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: auto;
	}
}
@media (max-width: 567px) {
	.nav-menu {
		padding-top: 6.75rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.nav-menu {
		padding-top: 4.25rem;
	}
}
.nav-menu li {
	margin: 0 .5625rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.nav-menu li {
		margin: 0 .3125rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-menu li {
		max-width: 25%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		margin: 0 0 .625rem;
		padding: 0 .3125rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.nav-menu li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.3333333%;
		    flex: 0 0 33.3333333%;
		max-width: 33.3333333%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: .75rem;
	}
}
@media (max-width: 567px) {
	.nav-menu li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 1.3125rem;
	}
}
.nav-menu li a {
	display: inline-block;
	color: #5b5e74;
	font-size: .8125em;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
@media (max-width: 767px) {
	.nav-menu li a {
		font-size: 1.25em;
		font-weight: bold;
	}
}
.nav-menu li a:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -12px;
	left: 0;
	right: 0;
	background-color: #eb53c0;
	height: 4px;
	width: 0;
	z-index: -1;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.nav-menu li a:after {
		bottom: -9px;
	}
}
.nav-menu li a:hover, .nav-menu li a.active {
	color: #5b5e74;
}
.nav-menu li a:hover:after, .nav-menu li a.active:after {
	width: 100%;
}
.nav-menu li a.active:after {
	background-color: #fd0;
}
.nav-widgets {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
@media (max-width: 767px) {
	.nav-widgets {
		position: absolute;
		height: auto;
		top: 25px;
		left: 15px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		    flex-direction: row-reverse;
	}
}
.nav-widgets__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #0fc0ea;
	font-weight: 700;
	font-size: 1.25em;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.nav-widgets__phone {
		font-size: .8125em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-widgets__phone {
		font-size: .8125em;
	}
}
@media (max-width: 767px) {
	.nav-widgets__phone {
		position: fixed;
		bottom: 0;
		left: 15px;
		right: 15px;
		width: 100%;
		background-color: #eb53c0;
		color: #fff;
		max-width: calc(100% - 30px);
		border-radius: 42px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 1.0625rem 0 1.125rem;
		margin-bottom: 1.6875rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.nav-widgets__phone {
		max-width: 320px;
	}
}
.nav-widgets__phone svg {
	margin-right: .4375rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.nav-widgets__phone svg {
		width: 7px;
		height: auto;
		margin-right: .3125rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-widgets__phone svg {
		width: 7px;
		height: auto;
		margin-right: .3125rem;
	}
}
.nav-widgets__phone svg g {
	fill: #0fc0ea;
}
@media (max-width: 767px) {
	.nav-widgets__phone svg g {
		fill: #fff;
	}
}
@media (max-width: 767px) {
	.nav-widgets__phone:hover {
		color: #fff;
	}
}
@media (min-width: 768px) {
	.nav-widgets__phone:hover {
		color: #83e7ff;
	}
	.nav-widgets__phone:hover svg g {
		fill: #83e7ff;
	}
}
.nav-widgets__star {
	position: relative;
	display: block;
	margin: 0 .9375rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.nav-widgets__star {
		margin: 0 .5rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-widgets__star {
		margin: 0 .5rem;
	}
}
.nav-widgets__star_count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #eb53c0;
	color: #fff;
	font-size: .5em;
	position: absolute;
	bottom: 7px;
	right: 0;
}
.nav-widgets__star svg g {
	fill: #fd0;
}
.nav-widgets__star:hover svg g {
	fill: #ffeb6b;
}
.nav-widgets__camera {
	display: block;
	padding: .5rem;
	position: relative;
	z-index: 10;
}
.nav-widgets__camera a {
	display: block;
}
.nav-widgets__camera__tooltip {
	position: absolute;
	font-size: 12px;
	line-height: 1.33;
	color: #969fb1;
	width: 165px;
	padding: 1.25rem 2.125rem 1.0625rem 1.3125rem;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 9px 0 rgba(158,197,221,.4);
	        box-shadow: 0 2px 9px 0 rgba(158,197,221,.4);
	top: 112%;
	right: 0;
	border-radius: 5px;
	-webkit-animation: ds-none .2s both;
	        animation: ds-none .2s both;
	z-index: 900;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.nav-widgets__camera__tooltip {
		display: none;
	}
}
.nav-widgets__camera__tooltip:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	top: -20px;
	right: 0;
	border-radius: 5px;
}
.nav-widgets__camera__tooltip_close {
	width: 13px;
	height: 13px;
	display: block;
	position: absolute;
	top: 13px;
	right: 13px;
	cursor: pointer;
}
.nav-widgets__camera__tooltip_close:after, .nav-widgets__camera__tooltip_close:before {
	content: '';
	display: block;
	position: absolute;
	width: 13px;
	height: 2px;
	background-color: #eb53c0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-widgets__camera__tooltip_close:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.nav-widgets__camera__tooltip_close:before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.nav-widgets__camera__tooltip_close:hover:after, .nav-widgets__camera__tooltip_close:hover:before {
	background-color: #b40f86;
}
.nav-widgets__camera:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	background-color: #0fc0ea;
	height: 100px;
	z-index: -1;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-widgets__camera:hover:after {
	background-color: #83e7ff;
}
.link-logo {
	display: block;
	max-width: 130px;
	padding: 2.1875rem 0 1.875rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.link-logo {
		padding: 1.25rem 0 .8125rem;
		max-width: 106px;
	}
}
.link-logo img {
	width: 100%;
}
.nav-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width: 767px) {
	.nav-panel {
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3000;
		background-color: #ebf7ff;
		-webkit-transform: translate3d(0, -200vh, 0);
		        transform: translate3d(0, -200vh, 0);
		-webkit-transition: all .2s ease;
		     -o-transition: all .2s ease;
		        transition: all .2s ease;
		display: block;
	}
}
.nav-panel__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: calc(100% + 30px);
}
@media (min-width: 568px) and (max-width: 767px) {
	.nav-panel__row {
		width: 100%;
	}
}
footer {
	background-color: #1f2127;
	padding-top: 3rem;
}
@media (max-width: 767px) {
	footer {
		padding-top: 3.375rem;
	}
}
@media (max-width: 567px) {
	.spacer-footer-mob {
		height: 35px;
	}
}
.link-footer {
	font-size: .875em;
	font-weight: 300;
	line-height: 1.71;
	color: #bbc4d7;
	position: relative;
	display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
	.link-footer {
		font-size: .625em;
	}
}
.link-footer:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #eb53c0;
	width: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.link-footer:hover:after {
	width: 0;
}
.link-fund {
	display: block;
	margin: .375rem 0;
}
@media (max-width: 767px) {
	.link-fund {
		margin-bottom: 2.3125rem;
	}
}
.link-fund img {
	max-width: 100%;
}
@media (max-width: 767px) {
	.link-fund img {
		width: 100%;
	}
}
.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: .375rem;
	margin-bottom: 1.4375rem;
}
@media (max-width: 767px) {
	.footer-list {
		margin-bottom: .5625rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.footer-list {
		margin-top: 4.875rem;
	}
}
@media (max-width: 567px) {
	.footer-list {
		margin-top: 3.625rem;
	}
}
.footer-list li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: .5625rem;
}
@media (max-width: 767px) {
	.footer-list li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		    flex: 0 0 33.333333%;
		max-width: 33.33333333%;
	}
}
.footer-list_link {
	display: block;
	color: #bbc4d7;
	font-size: .875em;
}
.footer-list_link:hover {
	color: #eb53c0;
}
.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 767px) {
	.footer-social {
		padding: .3125rem 0;
	}
}
.footer-social li {
	margin-right: 1.0625rem;
}
.footer-social__link svg g {
	fill: #bbc4d7;
}
.footer-social__link:hover svg g {
	fill: #eb53c0;
}
.footer-row {
	margin-top: 2.75rem;
	padding-bottom: .625rem;
}
@media (max-width: 767px) {
	.footer-row {
		margin-top: 0rem;
	}
}
.footer-copyright {
	font-size: .75em;
	line-height: 2;
	color: #6c6c6c;
	padding: 1.5625rem 0;
}
@media (max-width: 567px) {
	.footer-copyright {
		padding: .6875rem 0;
		font-size: .6875em;
	}
}
.footer-agency-link {
	display: inline-block;
	float: right;
	padding: 1.5625rem 0;
}
@media (max-width: 567px) {
	.footer-agency-link {
		padding: .6875rem 0;
	}
}
.footer-agency-link svg {
	height: 15px;
	width: auto;
}
@media (max-width: 567px) {
	.footer-agency-link svg {
		height: auto;
		max-width: 100%;
	}
}
.footer-agency-link svg g, .footer-agency-link svg polygon, .footer-agency-link svg path, .footer-agency-link svg circle, .footer-agency-link svg rect {
	fill: #6c6c6c;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.footer-agency-link:hover svg g, .footer-agency-link:hover svg polygon, .footer-agency-link:hover svg path, .footer-agency-link:hover svg circle, .footer-agency-link:hover svg rect {
	fill: #eb53c0;
}
section {
	padding-top: 6.0625rem;
	padding-bottom: 14.25rem;
	position: relative;
	z-index: 400;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
button:focus {
	outline: none;
}
.btn {
	display: block;
	max-width: 229px;
	width: 100%;
	text-align: center;
	border-radius: 30px;
	background-color: #eb53c0;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	padding-top: .9375rem;
	padding-bottom: 1rem;
}
.btn:hover {
	color: #fff;
	background-color: #b40f86;
}
.btn-center {
	margin-left: auto;
	margin-right: auto;
}
.img-responsive {
	width: 100%;
}
.img-back {
	position: absolute;
}
.img-back-river {
	top: 250px;
	left: 0;
	z-index: -1;
}
@media (max-width: 767px) {
	.img-back-river {
		display: none;
	}
}
.img-back-river-mob {
	display: none;
}
@media (max-width: 767px) {
	.img-back-river-mob {
		width: 100%;
		display: block;
		bottom: 0;
	}
}
.img-back-trees {
	top: 0;
	left: calc(59% - 585px);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-back-trees {
		left: calc(59% - 465px);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.img-back-trees {
		left: calc(59% - 360px);
	}
}
@media (max-width: 767px) {
	.img-back-trees {
		display: none;
	}
}
.img-back-trees-mob {
	display: none;
}
@media (max-width: 767px) {
	.img-back-trees-mob {
		width: 100%;
		display: block;
		top: 0;
		left: 15px;
	}
}
.img-back-road {
	top: 481px;
	left: calc(51.4% - 585px);
	z-index: -1;
}
@media (max-width: 767px) {
	.img-back-road {
		display: none;
	}
}
.img-back-car {
	top: 623px;
	left: calc(67.3% - 55px);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-back-car {
		left: calc(67.3% - 1px);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.img-back-car {
		left: calc(67.3% + 40px);
	}
}
@media (max-width: 767px) {
	.img-back-car {
		display: none;
	}
}
.img-back-car-mob {
	display: none;
}
@media (max-width: 767px) {
	.img-back-car-mob {
		display: block;
		bottom: -90px;
		left: 0;
	}
}
.img-back-blocks {
	right: 14px;
	top: -106px;
}
.img-back-coub {
	right: calc(56.6% - 585px);
	bottom: -39px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-back-coub {
		right: calc(56.6% - 465px);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.img-back-coub {
		right: calc(56.6% - 360px);
	}
}
@media (max-width: 767px) {
	.img-back-coub {
		right: 26px;
		max-width: 119px;
		bottom: -25px;
	}
}
@media (max-width: 567px) {
	.img-change_image {
		margin-bottom: 1.5625rem;
	}
}
@media (max-width: 567px) {
	.img-change_place {
		display: none;
	}
}
a {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #bbc4d7;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a svg g {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a:hover {
	text-decoration: none;
	color: #eb53c0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-detail {
	display: inline-block;
	position: relative;
	font-size: .875em;
	font-weight: bold;
	color: #064778;
}
.link-detail:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12px;
	width: 40px;
	height: 6px;
	background-color: #eb53c0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.link-detail:after {
		width: 100%;
	}
}
.link-detail:hover {
	color: #064778;
}
.link-detail:hover:after {
	width: 100%;
}
.link-detail.link-detail-big {
	font-size: 1em;
}
@media (max-width: 767px) {
	.link-detail.link-detail-big {
		float: right;
		font-size: .875em;
		margin-right: 1.75rem;
	}
}
.link-detail.link-detail-big:after {
	bottom: -17px;
}
@media (max-width: 767px) {
	.link-detail.link-detail-big:after {
		bottom: -11px;
	}
}
ul li {
	list-style: none;
}
ul li ul {
	margin-right: .9375rem;
	margin-left: 1.25rem;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul li, ol li {
	font-family: 'Ubuntu', sans-serif;
}
ol {
	margin-left: 1.25rem;
}
ol li ol {
	margin-top: .9375rem;
}
.ul-regular li {
	position: relative;
	padding-left: 1.25rem;
	margin-bottom: 1.25rem;
}
.ul-regular li:before {
	width: 8px;
	height: 1px;
	background-color: #000;
	top: 10px;
	left: 0;
}
input {
	-webkit-appearance: none;
	width: 100%;
	border: none;
	font-size: .875em;
	line-height: 1.71;
	color: #064778;
	background-color: transparent;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	padding: .625rem 0 .6875rem;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:focus {
	outline: none;
}
input:-moz-placeholder {
	color: #bbc4d7;
}
input::-moz-placeholder {
	color: #bbc4d7;
}
input:-ms-input-placeholder {
	color: #bbc4d7;
}
input::-webkit-input-placeholder {
	color: #bbc4d7;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.input-group {
	position: relative;
	z-index: 20;
	margin-bottom: 2.1875rem;
}
@media (max-width: 767px) {
	.input-group {
		margin-bottom: 1.8125rem;
	}
}
.input-group_input, .input-group select {
	position: relative;
	z-index: 10;
	padding-left: 1.9375rem;
}
.input-group_input.error ~ .input-group_icon svg g, .input-group select.error ~ .input-group_icon svg g {
	fill: #f585d5;
}
.input-group_input.error ~ .input-group_error, .input-group select.error ~ .input-group_error {
	opacity: 1;
}
.input-group_input.error ~ .input-group_line:after, .input-group select.error ~ .input-group_line:after {
	width: 100%;
}
.input-group_input:focus ~ .input-group_icon svg g, .input-group select:focus ~ .input-group_icon svg g {
	fill: #8f91a3;
}
.input-group_input:focus ~ .input-group_line, .input-group select:focus ~ .input-group_line {
	background-color: #8f91a3;
}
.input-group_icon {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.input-group_icon svg g {
	fill: #bbc4d7;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.input-group_error {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	color: #eb53c0;
	font-size: .875em;
	font-style: italic;
	line-height: 1.71;
	color: #f585d5;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.input-group_line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #bbc4d7;
	z-index: 1;
}
.input-group_line:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	background-color: #f585d5;
}
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	width: 100%;
	border: none;
	font-size: .875em;
	line-height: 1.71;
	color: #064778;
	background-color: transparent;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	padding: .625rem 0 .6875rem;
	display: block;
}
select:focus {
	outline: none;
}
.select-group {
	position: relative;
	z-index: 20;
	margin-bottom: 2.875rem;
}
@media (max-width: 767px) {
	.select-group {
		margin-bottom: 1.8125rem;
	}
}
@media (max-width: 767px) {
	.select-group:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #bbc4d7;
		top: calc(50% - 2px);
		right: 8px;
	}
}
.select-group .chosen-container-single .chosen-default span, .select-group .chosen-container-single .chosen-single span {
	padding-left: 1.9375rem;
}
.select-group .chosen-container.chosen-with-drop ~ .input-group_icon svg g {
	fill: #8f91a3;
}
.select-group .chosen-container.chosen-with-drop ~ .input-group_line {
	background-color: #8f91a3;
}
.chosen-rtl .chosen-search input[type='text'], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type='text'], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
	background-image: url('../img/chosen/chosen-sprite.png') !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.chosen-rtl .chosen-search input[type='text'], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type='text'], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
		background-image: url('../img/chosen/chosen-sprite@2x.png') !important;
	}
}
.chosen-container {
	width: 100%;
	font-size: 1rem;
}
.chosen-container:focus {
	outline: none;
}
.chosen-container .chosen-results {
	padding: 0;
	margin: 0;
}
.chosen-container:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #bbc4d7;
	top: calc(50% - 2px);
	right: 8px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.chosen-container-single .chosen-single {
	background: transparent !important;
	padding: 0;
	height: auto;
	border-radius: 0;
	border: none !important;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.chosen-container-single .chosen-single span {
	padding: .625rem 0 .6875rem;
	color: #064778;
	font-size: .875em;
	line-height: 1.71;
}
.chosen-container-single .chosen-single div {
	display: none;
}
.chosen-container-single .chosen-search {
	display: none;
}
.chosen-container-single .chosen-search input[type='text'] {
	display: none;
}
.chosen-container.chosen-container-active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container.chosen-container-active .chosen-single {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	background: none;
}
.chosen-container-single .chosen-drop {
	border-radius: 0;
	border: none;
	border-top: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: #bbc4d7;
}
.chosen-container-single .chosen-drop .active-result {
	padding: .625rem 2.1875rem .6875rem;
	font-size: .875em;
	color: #fff;
	line-height: 1.71;
}
.chosen-container-single .chosen-drop .active-result.highlighted {
	color: #fff;
	background: #d0d6e4;
}
.chosen-container-single .chosen-drop .result-selected {
	background-color: #064778;
	color: #fff;
}
.chosen-container-single .chosen-default span {
	font-size: .875em;
	padding: .625rem 0 .6875rem;
	color: #bbc4d7;
	font-size: .875em;
	line-height: 1.71;
}
.chosen-container.chosen-with-drop:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.map {
	width: 100%;
	position: relative;
}
@media (max-width: 767px) {
	.map {
		margin: 0 -15px;
		width: calc(100% + 30px);
	}
}
.map-block {
	background-color: #fff;
	position: absolute;
	left: 97px;
	top: 62px;
	padding-top: 2.9375rem;
	padding-left: 6.25rem;
	padding-right: 5.875rem;
	max-width: 457px;
	width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
	.map-block {
		left: 0;
		max-width: 400px;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		padding-top: 2.3125rem;
	}
}
@media (max-width: 767px) {
	.map-block {
		position: static;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.map-block {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		padding-top: 2.3125rem;
		max-width: 100%;
	}
}
@media (max-width: 567px) {
	.map-block {
		padding-left: .9375rem;
		padding-right: 1.625rem;
		padding-top: 1.75rem;
	}
}
.map-list {
	padding-bottom: 2.3125rem;
}
@media (max-width: 767px) {
	.map-list {
		padding-bottom: 2rem;
	}
}
.map-list li {
	margin-bottom: 1.4375rem;
}
@media (max-width: 767px) {
	.map-list li {
		margin-bottom: 1rem;
	}
}
.map-list li .map-list__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: .875em;
	color: #bbc4d7;
}
.map-list li .map-list__link_icon {
	width: 25px;
	height: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 1.5rem;
}
@media (max-width: 767px) {
	.map-list li .map-list__link_icon {
		width: 20px;
		height: 20px;
		margin-right: .875rem;
	}
}
.map-list li .map-list__link_icon svg g {
	fill: #bbc4d7;
}
.map-list li .map-list__link_text, .map-list li .map-list__link_dest {
	width: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.map-list li .map-list__link_dest {
	font-weight: 500;
	color: #8f91a3;
	max-width: 70px;
	text-align: right;
}
.map-list li .map-list__link:hover .map-list__link_icon svg g {
	fill: #064778;
}
.map-list li .map-list__link:hover .map-list__link_text, .map-list li .map-list__link:hover .map-list__link_dest {
	color: #064778;
}
.map-list li .map-list__link.active .map-list__link_icon svg g {
	fill: #eb53c0;
}
.map-list li .map-list__link.active .map-list__link_text, .map-list li .map-list__link.active .map-list__link_dest {
	color: #064778;
}
#map {
	width: 100%;
	height: 100%;
	margin-bottom: 1.875rem;
	height: 376px;
}
@media (max-width: 767px) {
	#map {
		margin-bottom: 0rem;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	#map {
		height: 236px;
	}
}
@media (max-width: 567px) {
	#map {
		height: 136px;
	}
}
.section-map {
	padding-bottom: 12.875rem;
}
@media (max-width: 767px) {
	.section-map {
		padding-top: 7.1875rem;
		padding-bottom: 11.5rem;
	}
}
.slick-loading .slick-list {
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slider .arrow {
	position: absolute;
	z-index: 100;
	height: 30px;
	width: 30px;
	bottom: 22px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.slider .arrow {
		bottom: 12px;
	}
}
@media (max-width: 767px) {
	.slider .arrow:hover {
		opacity: .5;
	}
}
.slider .arrow.left {
	right: 91px;
}
@media (max-width: 767px) {
	.slider .arrow.left {
		right: auto;
		left: 22px;
	}
}
.slider .arrow.right {
	right: 46px;
}
@media (max-width: 767px) {
	.slider .arrow.right {
		right: auto;
		left: 67px;
	}
}
.slider .slide {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 350px;
	overflow: hidden;
}
.slider .slide:focus {
	outline: none;
}
.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
}
.tabs li a {
	cursor: pointer;
	padding: .75rem .9375rem .8125rem;
	color: #000;
	display: block;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.tabs li a:hover {
	color: #fff;
	background-color: #add8e6;
}
.tabs li a.active {
	color: #fff;
	background-color: #00f;
}
.tabs-content {
	display: none;
	padding: .625rem .9375rem;
	-webkit-animation: fadeEffect 1s;
	        animation: fadeEffect 1s;
}
.tabs-content.active {
	display: block;
}
@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.test-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 28px 0 rgba(119,122,185,.18);
	        box-shadow: 0 2px 28px 0 rgba(119,122,185,.18);
	padding: 4.875rem 6.0625rem 3rem;
	position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.test-row {
		padding: 3.625rem 4.1875rem 3rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.test-row {
		padding: 1.875rem;
	}
}
@media (max-width: 767px) {
	.test-row {
		padding: 1.625rem 1.25rem 1.125rem;
	}
}
.test-row__description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	max-width: 100%;
}
.test-row__image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 38.2%;
	    flex: 0 0 38.2%;
	max-width: 38.2%;
}
@media (min-width: 768px) and (max-width: 991px) {
	.test-row__image {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36.2%;
		    flex: 0 0 36.2%;
		max-width: 36.2%;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.test-row__image {
		display: none;
	}
}
.test-row__image img {
	width: 100%;
}
.test-row__text {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 51.6%;
	    flex: 0 0 51.6%;
	max-width: 51.6%;
	position: relative;
	padding-top: 3.5625rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.test-row__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 53.6%;
		    flex: 0 0 53.6%;
		max-width: 53.6%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.test-row__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 59.6%;
		    flex: 0 0 59.6%;
		max-width: 59.6%;
		padding-top: 0rem;
	}
	.test-row__text h2 {
		font-size: 1.875em;
		margin-top: .625rem;
	}
}
@media (max-width: 767px) {
	.test-row__text {
		padding-top: 0rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		max-width: 100%;
	}
	.test-row__text img {
		width: 100%;
		margin-bottom: .875rem;
	}
	.test-row__text h2 {
		font-size: 1.25em;
		margin-bottom: 1.0625rem;
	}
}
.test-row__text__test {
	position: absolute;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.test-row__text__test {
		position: static;
	}
}
.test-row__text__test p {
	max-width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	font-size: 20px;
	line-height: 1.7;
	color: #bbc4d7;
}
@media (min-width: 768px) and (max-width: 991px) {
	.test-row__text__test p {
		margin-bottom: 0rem;
	}
}
@media (max-width: 767px) {
	.test-row__text__test p {
		font-size: .875em;
		margin-bottom: .8125rem;
	}
}
.test-row__text__test .btn {
	margin-top: .9375rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(50% - 15px);
	    flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}
@media (max-width: 567px) {
	.test-row__text__test .btn {
		margin-top: 0rem;
		margin-bottom: .625rem;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		    flex: 1 1 100%;
		max-width: 100%;
		padding-top: .625rem;
		padding-bottom: .8125rem;
	}
}
.test-row__steps {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 39%;
	    flex: 0 0 39%;
	max-width: 39%;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.test-row__steps {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 49%;
		    flex: 0 0 49%;
		max-width: 49%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.test-row__steps {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		    flex: 0 0 60%;
		max-width: 60%;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.test-row__steps {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		    flex: 0 0 60%;
		max-width: 60%;
		margin-top: 1.25rem;
	}
}
@media (max-width: 567px) {
	.test-row__steps {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		max-width: 100%;
	}
}
.test-steps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 2.3125rem;
}
@media (max-width: 767px) {
	.test-steps {
		padding: 0 .4375rem;
		margin-top: .1875rem;
	}
}
.test-steps li {
	position: relative;
}
.test-steps li .test-steps_link {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3.5px;
	color: #2ec489;
}
@media (max-width: 767px) {
	.test-steps li .test-steps_link {
		font-size: .75em;
		letter-spacing: 1px;
	}
}
.test-steps li .test-steps_link.active {
	font-size: 1.375em;
	font-weight: bold;
	letter-spacing: 5.5px;
	color: #fd0;
}
@media (max-width: 767px) {
	.test-steps li .test-steps_link.active {
		font-size: 1em;
		letter-spacing: 1px;
	}
}
.test-steps li:after {
	content: '';
	display: block;
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #2ec489;
	right: -46px;
	top: 50%;
}
@media (max-width: 767px) {
	.test-steps li:after {
		width: 10px;
		height: 2px;
		top: 65%;
		right: -30px;
	}
}
.test-steps li:last-child:after {
	display: none;
}
.section-manager {
	padding-top: 10.3125rem;
	padding-bottom: 8.875rem;
}
@media (max-width: 767px) {
	.section-manager {
		padding-bottom: 6.6875rem;
	}
	.section-manager h2 {
		text-align: center;
	}
}
.manager {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1.4375rem 8.125rem 1.5625rem 0;
}
@media (max-width: 767px) {
	.manager {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 1.4375rem 0 .1875rem;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
.manager__image {
	width: 138px;
	height: 138px;
	border-radius: 50%;
	overflow: hidden;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 138px;
	    flex: 0 0 138px;
	max-width: 138px;
	margin-right: 1.625rem;
}
@media (max-width: 767px) {
	.manager__image {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 116px;
		    flex: 0 0 116px;
		max-width: 116px;
		width: 116px;
		height: 116px;
		margin-right: 0rem;
		margin-bottom: 1.25rem;
	}
}
.manager__image img {
	width: 100%;
}
.manager__description {
	padding-top: .3125rem;
}
@media (max-width: 767px) {
	.manager__description {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		max-width: 100%;
	}
}
.manager__description p {
	color: #bbc4d7;
}
@media (max-width: 767px) {
	.manager__description p {
		text-align: center;
		font-size: .75em;
	}
}
.form-manager {
	padding-top: 1.4375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.form-manager {
		padding-top: 0rem;
	}
}
.form-manager .input-group, .form-manager .select-group, .form-manager .btn {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(50% - 15px);
	    flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}
@media (max-width: 767px) {
	.form-manager .input-group, .form-manager .select-group, .form-manager .btn {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		    flex: 1 1 100%;
		max-width: 100%;
	}
}
.form-manager .btn {
	margin-bottom: 2.1875rem;
}
.form-manager_back {
	position: relative;
	display: inline-block;
	font-size: .75em;
	color: #064778;
}
.form-manager_back:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #064778;
	width: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.form-manager_back:hover:after {
	width: 0;
}
.form-manager__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.form-manager__image img {
	max-width: 100%;
}
.form-manager__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.form-manager__text__content h2 {
	margin-top: 0rem;
	margin-bottom: 1.5625rem;
}
.form-manager__text__content p {
	margin-bottom: 1.5625rem;
}
.manager-block {
	position: relative;
}
.manager-block-row-form {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (min-width: 568px) and (max-width: 767px) {
	.manager-block-row-form {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}
.manager-block-row-form.hidden {
	opacity: 0;
}
.manager-block-row-success {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 200;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (min-width: 568px) and (max-width: 767px) {
	.manager-block-row-success {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}
.manager-block-row-success.hidden {
	visibility: hidden;
	z-index: -20;
	opacity: 0;
}
.slider.slider-manager .arrow {
	bottom: auto;
	top: 39px;
	height: 44px;
	width: 26px;
}
@media (max-width: 767px) {
	.slider.slider-manager .arrow {
		width: 16px;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.slider.slider-manager .arrow {
		top: 58px;
	}
}
.slider.slider-manager .arrow svg {
	height: 100%;
	width: auto;
}
.slider.slider-manager .arrow.right {
	right: 34px;
}
@media (max-width: 767px) {
	.slider.slider-manager .arrow.right {
		right: 10px;
		left: auto;
	}
}
.slider.slider-manager .arrow.left {
	right: 107px;
}
@media (max-width: 767px) {
	.slider.slider-manager .arrow.left {
		right: auto;
		left: 10px;
	}
}
.container-partners {
	padding-top: 11.875rem;
}
@media (max-width: 767px) {
	.container-partners {
		padding-top: 9.375rem;
	}
}
.partners-list {
	padding-top: 1.375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 767px) {
	.partners-list {
		padding-top: 1.125rem;
	}
}
.partners-list__li {
	height: 47px;
	max-width: 25%;
	padding: 0 1.875rem;
	position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.partners-list__li {
		margin-bottom: 1.25rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.partners-list__li {
		max-width: 33.33333%;
		margin-bottom: 1.25rem;
	}
}
@media (max-width: 767px) {
	.partners-list__li {
		max-width: calc(50% - 15px);
		padding: 0;
		margin-bottom: 2.125rem;
	}
}
.partners-list__li__heading {
	font-size: .875em;
	font-weight: 500;
	text-align: center;
	color: #0d683c;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
}
.partners-list__li__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.partners-list__li__image svg {
	height: 100%;
	width: auto;
}
.partners-list__li__image svg polygon, .partners-list__li__image svg path, .partners-list__li__image svg circle, .partners-list__li__image svg rect {
	fill: #0d683c;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.partners-list__li:hover .partners-list__li__image svg polygon, .partners-list__li:hover .partners-list__li__image svg path, .partners-list__li:hover .partners-list__li__image svg circle, .partners-list__li:hover .partners-list__li__image svg rect {
	fill: #33d695;
}
.partners-list__li:hover .partners-list__li__heading {
	opacity: 1;
}
@media (max-width: 767px) {
	.section-river {
		padding-top: 11.875rem;
		padding-bottom: 16.8125rem;
	}
}
.section-river__text {
	position: relative;
	z-index: 200;
}
.section-river:after {
	content: '';
	display: block;
	position: absolute;
	top: 231px;
	right: 0;
	left: 0;
	bottom: -481px;
	background-color: #b4ebff;
	z-index: -2;
}
@media (max-width: 767px) {
	.section-river:after {
		top: 349px;
	}
}
.discount {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 30;
}
.discount:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #fd0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 95px;
	z-index: -1;
}
@media (max-width: 767px) {
	.discount:after {
		left: 0;
	}
}
.discount__description {
	padding: .9375rem .75rem 1.875rem;
}
@media (max-width: 767px) {
	.discount__description {
		padding-left: 1.25rem;
	}
}
.discount__description p {
	color: #968200;
}
@media (max-width: 767px) {
	.discount__description p {
		font-size: .75rem;
		line-height: 1.5;
		margin-bottom: 1rem;
	}
}
.discount__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	max-width: 181px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 181px;
	    flex: 0 0 181px;
}
@media (max-width: 767px) {
	.discount__image {
		max-width: 105px;
		padding-left: 1.5625rem;
	}
}
.discount__image img {
	max-width: 100%;
}
.section-fundament {
	background-color: #2dc689;
	z-index: 300;
	padding-top: 4.875rem;
	padding-bottom: 12.5625rem;
}
@media (max-width: 767px) {
	.section-fundament {
		padding-top: 0rem;
		padding-bottom: 5.4375rem;
	}
}
.section-fundament:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #2dc689;
	bottom: 0;
	top: -527px;
	left: 0;
	right: 0;
	z-index: -1;
}
.img-fundament {
	margin: .375rem 0;
	max-width: 100%;
}
@media (max-width: 767px) {
	.img-fundament {
		margin-top: 0rem;
		margin-bottom: 2.375rem;
	}
}
.slider-discount.slider-discount-header {
	position: absolute;
	top: -87px;
	left: 15px;
	right: 15px;
	z-index: 400;
}
@media (max-width: 567px) {
	.slider-discount.slider-discount-header {
		top: 20px;
	}
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .0390625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: .3125rem;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}