@import "test/container-test.styl"
@import "manager/manager.styl"
@import "manager/slider-manager.styl"
@import "partners/container-partners.styl"
@import "section-river/section-river.styl"
@import "discount/discount.styl"
@import "fundament/section-fundament.styl"
@import "discount/slider-discount/slider-discount.styl"
@import "volta/volta.styl"
