@import "test/test.styl"
@import "manager/manager.styl"
@import "manager/manager-form.styl"
@import "manager/slider-manager.styl"
@import "partners/partners.styl"
@import "section-river/section-river.styl"
@import "discount/discount.styl"
@import "fundament/fundament.styl"
@import "discount/slider-discount/slider-discount.styl"
@import "volta/volta.styl"
