@import "test/test.styl"
@import "test/test-repair.styl"

@import "pink-number/pink-number.styl"

@import "documnet/document.styl"

@import "repair/repair-slider.styl"

@import "cookie/cookie.styl"

@import "manager/manager.styl"
@import "manager/manager-form.styl"
@import "manager/slider-manager.styl"

@import "partners/partners.styl"

@import "sections/section-back.styl"
@import "sections/section-bus.styl"
@import "sections/section-tram.styl"
@import "sections/section-security.styl"
@import "sections/section-baum.styl"
@import "sections/section-river.styl"
@import "sections/section-projects.styl"
@import "sections/section-numbers.styl"
@import "sections/section-location.styl"
@import "sections/section-garden.styl"
@import "sections/section-contacts.styl"
@import "sections/section-online.styl"
@import "sections/section-form.styl"
@import "sections/section-404.styl"
@import "sections/section-planning.styl"
@import "sections/section-blog.styl"

@import "blog/blog.styl"
@import "blog/blog-slider.styl"

@import "plan/plan"
@import "plan/plan-slider"

@import "discount/discount.styl"
@import "discount/discount-slider-big.styl"

@import "project/project.styl"

@import "fundament/fundament.styl"

@import "discount/slider-discount/slider-discount.styl"

@import "volta/volta.styl"
