input
  -webkit-appearance none
  width 100%
  border none
  font-size: e(14)
  line-height: 1.71;
  co($blue-dark)
  bg($tr)
  trans()
  padding r(10) 0 r(11)
  &:-webkit-autofill
    -webkit-box-shadow: inset 0 0 0 50px #fff !important
    -webkit-text-fill-color: #999 !important
  &:focus
    outline none
  +placeholder()
    color: #bbc4d7;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none;
  margin: 0;

input[type=number]
  -moz-appearance:textfield;


.input-group
  position relative
  z-index 20
  mb(35)
  +mob()
    mb(29)
  &_input, select
    position relative
    z-index 10
    pl(31)
    &.error
      & ~ .input-group_icon
        svg g
          fill $pink-error
      & ~ .input-group_error
        opacity 1
      & ~ .input-group_line
        &:after
          width 100%
    &:focus
      & ~ .input-group_icon
        svg g
          fill $gray-text2
      & ~ .input-group_line
        bg($gray-text2)



  &_icon
    position absolute
    left 0
    top 0
    bottom 0
    width 20px
    z-index 1

    display flex
    align-items center
    svg g
      fill $gray-text1
      trans()

  &_error
    position absolute
    top -20px
    left 0
    right 0
    co($pink)
    font-size: e(14)
    font-style: italic;
    line-height: 1.71;
    color: $pink-error
    z-index 1
    opacity 0
    trans()

  &_line
    position absolute
    bottom 0
    left 0
    right 0
    height 1px
    bg($gray-text1)
    z-index 1
    &:after
      ba()
      top 0
      left 0
      right 0
      bottom 0
      width 0
      trans()
      bg($pink-error)

//input[type=reset]
//  border 0
//  cursor pointer
//
//label
//  pl(16)
//  fw(700)
//  fs(16)
//  mb(13)
//
//textarea
//  -webkit-appearance none
//  resize none
//  mb(20)
//  border 1px solid $gr2
//  border-radius: 0;
//  width 100%
//  height 100px
//  padding r(11) r(15) r(12)
//  trans()
//  &:focus
//    outline none
//    border-color blue
//  +placeholder()
//    co(#999)
//
//.input-group
//  position relative
//  mb(20)
//  input
//    mb(0)
//    pl(45)
//    &:focus + span
//      co(blue)
//  textarea
//    pl(45)
//    mb(0)
//    & + span
//      height 45px
//    &:focus + span
//      co(blue)
//  select
//    pl(45)
//    mb(0)
//  span
//    position absolute
//    top 0
//    left 0
//    display flex
//    justify-content center
//    align-items center
//    width 45px
//    height 100%
//    trans()
