.slider.slider-discount.slider-discount-header
    div
        +discount('img/illus/discount/discount1.svg', 'Акція!', 'Отримай знижку на місце для парковки до 25 березня')
    div
        +discount('img/illus/discount/discount1.svg', 'Акція!', 'Отримай знижку на місце для парковки до 25 березня')