.nav-panel
  display flex
  align-items center
  +mob()
    margin 0
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 3000
    bg($ocean7)
    transform translate3d(0,-200vh,0)
    trans()
    display block

  &__row
    display flex
    margin 0 -15px
    flex-wrap wrap