.nav-widgets
  df(row)
  justify-content flex-end
  align-items center
  height 100%
  +mob()
    position absolute
    height auto
    top 25px
    left 15px
    flex-direction row-reverse
  &__phone
    display flex
    align-items center
    co($ocean1)
    fw(700)
    fs(20)
    +tab()
      fs(13)
    +port()
      fs(13)
    +mob()
      position fixed
      bottom 0
      left 15px
      right 15px
      width 100%
      bg($pink)
      co($wt)
      max-width calc(100% - 30px)
      border-radius: 42px;
      justify-content center
      padding r(17) 0 r(18)
      mb(27)
    +land()
      max-width 320px
    svg
      mr(7)
      +tab()
        width 7px
        height auto
        mr(5)
      +port()
        width 7px
        height auto
        mr(5)
      g
        fill $ocean1
        +mob()
          fill $wt
    &:hover
      +mob()
        co($wt)
      +mmin(768px)
        co($ocean4)
        svg g
          fill $ocean4

  &__star
    position relative
    display block
    margin 0 r(15)
    +tab()
      margin 0 r(8)
    +port()
      margin 0 r(8)
    &_count
      display flex
      align-items center
      justify-content center
      width: 12px;
      height: 12px;
      border-radius 50%
      bg($pink)
      co($wt)
      fs(8)
      position absolute
      bottom 7px
      right 0

    svg g
      fill $yellow1
    &:hover
      svg g
        fill $yellow2

  &__camera
    display block
    padding r(8)
    position relative
    z-index 10
    a
      display block
    &__tooltip
      position absolute
      font-size: 12px;
      line-height: 1.33;
      color: $bltx2
      width 165px
      padding r(20) r(34) r(17) r(21)
      bg($wt)
      box-shadow 0 2px 9px 0 rgba(158, 197, 221, 0.4)
      top 112%
      right 0
      border-radius 5px
      animation ds-none .2s both
      z-index 900
      trans()
      +mob()
        display none
      &:before
        triangle($wt, up, 20px)
        top -20px
        right 0
        border-radius 5px
      &_close
        width: 13px;
        height: 13px;
        display: block;
        position: absolute;
        top: 13px;
        right: 13px;
        cursor pointer
        &:after, &:before
          ba()
          width: 13px;
          height: 2px;
          bg($pink)
          trans()
        &:after
          transform rotate(45deg)
        &:before
          transform rotate(-45deg)
        &:hover
          &:after, &:before
            bg($pink-dark)

    &:after
      ba()
      left 0
      right 0
      bottom 5px
      bg($ocean1)
      height 100px
      z-index -1
      trans()

    &:hover
      &:after
        bg($ocean4)