nav
    .container
        .row
            .col-md.col-nav-1
                a(href='./' title='').link-logo
                    img(src='img/logo/logo.png' title='' alt='')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span
            .col-md.nav-panel
                .nav-panel__row
                    .col-md.col-nav-2
                        ul.nav-menu
                            li
                                a(href='' title='').active Про комплекс
                            li
                                a(href='' title='') Планування
                            li
                                a(href='' title='') Розташування
                            li
                                a(href='' title='') Типи ремонту
                            li
                                a(href='' title='') Новини
                            li
                                a(href='' title='') Забудовник
                            li
                                a(href='' title='') Контакти
                    .col-md.col-nav-3
                        ul.nav-widgets
                            li
                                a(href='tel:' title='').nav-widgets__phone
                                    include ../../_svgs/phone.svg
                                    | +38 (044) 299 48 52
                            li
                                a(href='' title='').nav-widgets__star
                                    include ../../_svgs/star.svg
                                    .nav-widgets__star_count 12
                            li
                                .nav-widgets__camera
                                    a(href='' title='')
                                        include ../../_svgs/camera.svg
                                    .nav-widgets__camera__tooltip
                                        | Будівництво вашої  квартири онлайн
                                        .nav-widgets__camera__tooltip_close