nav
  bg($wt)
  //padding r(10) 0
  trans()
  margin-bottom 200px




.nav-mobile
  display none
  +mob()
    display block




//@import "../../../source/rew-ui-kit/rew-navigation/nav-right-left.styl"
//@import "../../../source/rew-ui-kit/rew-navigation/nav-top-bottom.styl"