nav
    .container
        .row
            .col-md.col-nav-1
                a(href='./' title='').link-logo
                    img(src='img/logo/logo.png' title='' alt='')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span
            .col-md.nav-panel
                .nav-panel__row
                    .col-md.col-nav-2
                        ul.nav-menu
                            each item in pages
                                if (item && item.navigation === true)
                                    li
                                        a(href=item.href title=item.title)= item.title
                    .col-md.col-nav-3
                        ul.nav-widgets
                            li
                                a(href='tel:' title='').nav-widgets__phone
                                    include ../../_svgs/phone.svg
                                    | +38 (044) 299 48 52
                            li
                                a(href='' title='').nav-widgets__star
                                    include ../../_svgs/star.svg
                                    .nav-widgets__star_count 12
                            li
                                .nav-widgets__camera
                                    a(href='' title='')
                                        include ../../_svgs/camera.svg
                                    .nav-widgets__camera__tooltip
                                        | Будівництво вашої  квартири онлайн
                                        .nav-widgets__camera__tooltip_close#close-tooltip