header
    .container.header-container
        .row.header-container__row
            .offset-md-1.col-lg-5.col-md-6
                .header-description
                    h1 LaLaLand: Живи граючи!
                    p Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста .
            .col-md-5
                .header_image
                    +img('img/illus/header/header1.png')
        .row
            .col-xl-5.col-lg-6.col-md-8
                include ../../_modules/discount/slider-discount/slider-discount