header
  height 485px
  position relative
  z-index 100
  mb(170)
  +mob()
    height auto
  +xs()
    mb(227)
  &:after
    ba()
    top 0
    bottom 0
    width 90vw
    bg($ocean5)
    z-index -1
    left 5vw
    //+xs()
    //  bottom 185px


.header_image
  position relative
  z-index 90
  height 100%
  //+land()
  //  height auto
  img
    max-width: 100%;
    position absolute
    bottom 0
    right 0
    z-index -1
    +port()
      max-width 500px
    +land()
      max-width 350px

.header-container
  height 100%
  &__row
    height 100%
    +mob()
      min-height: 402px;

.header-description
  padding r(94) 0
  position relative
  z-index 400
  +land()
    padding r(29) 0
  +xs()
    padding r(29) r(25)
  p
    +mob()
      font-size: r(12)
      line-height: 1.5
      mb(16)