header
  height 485px
  position relative
  z-index 100
  mb(185)
  &:after
    ba()
    top 0
    bottom 0
    width 90vw
    bg($ocean5)
    z-index -1
    left 5vw

.header_image
  position relative
  z-index 90
  height 100%
  img
    position absolute
    bottom 0
    right 0
    z-index -1

.header-container
  height 100%
  &__row
    height 100%

.header-description
  padding r(94) 0
