.header-online
  pt(53)
  pb(18)
  +mob()
    mb(0)
    pt(0)
  .header-container__row
    min-height 1px
  h1
    +xs()
      mb(0)
  p
    mt(10)
    +xs()
      mt(0)
  &:after
    bg($yellow1)
    bottom -264px
    +land()
      bottom -150px
    +xs()
      bottom -50px