header.header-builder
  pt(53)
  pb(58)
  +xs()
    pt(0)
    pb(116)
    mb(100)
  &:after
    bg($green)

  .img-fundament
    max-width 265px
    mt(65)
    mb(28)
    +port()
      mt(20)
    +mob()
      mt(0)
      width 100%
