header
    .container.header-container
        .row.header-container__row
            .offset-1.col-5
                .header-description
                    h1 LaLaLand: Живи граючи!
                    p Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста .
            .col-6
                .header_image
                    +img('img/illus/header/header1.png')
        .row
            .offset-1.col-4
                +discount()