mixin header-index()
    header.header-index
        .container.header-container
            .row.header-container__row
                .offset-sm-1.col-sm-7.col-md-6.col-lg-5
                    .header-description
                        h1 LaLaLand: Живи граючи!
                        p Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста .
                .col-sm-4.col-md-5
                    .header_image
                        +img('img/illus/header/header1.png')
            .row
                .col-xl-5.col-lg-6.col-md-8.col-sm-8
                    include ../../_modules/discount/slider-discount/slider-discount

mixin header-about()
    header.header-about
        .container.header-container
            .row.header-container__row
                .col-sm-5.offset-sm-1.col-md-5.offset-xl-0.col-xl-6
                    .header-description
                        h1 Комплекс  щасливого життя

                .col-sm-5
                    .header-description
                        p Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста .
                        .spacer-50
                        +btn('Обрати планування')
                    +img('img/illus/back/bus-pipt-trees.svg', 'img-back img-back-bus-pipt-trees')

mixin header-location()
    header.header-location
        .container.header-container
            .row.header-container__row
                .col-sm-5.offset-sm-1.col-md-6.offset-xl-0
                    .header-description
                        h1 Дихати в лісі,  жити в місті

                .offset-lg-1.col-sm-5
                    .header-description
                        p Квартал розташований уздовж чудового соснового лісу, недалеко від Пущі Водиці. При цьому ви залищаєтесь у центрі життя Києва — в пішій доступності є найбільший ТРЦ Lavina,   а до центра — лише 20 хвилин!
                        .spacer-50
                        +btn('Обрати на генплані')
                    +img('img/illus/back/trees-location.svg', 'img-back img-back-trees-location')


mixin header-builder()
    header.header-builder
        .container.header-container
            .row.header-container__row
                .col-sm-5.offset-sm-1.col-md-5.offset-xl-1.col-xl-6
                    .header-description
                        h1.color-white Забудовник


                .col-sm-5
                    .header-description
                        +img('img/illus/fundament/fundament2.svg','img-fundament')
                        p.color-green-dark Будівельна група компаній "Фундамент" одна з найбільших девелоперських компаній України. За цей час ми збудували кожну шосту квартиру в Києві. Будинки по всьому місту в житлових масивах Чоколівка, Відрадний, Шулявка, Нивки, Оболонь
                    +img('img/illus/back/builder.svg', 'img-back img-back-builder')
