footer
    .container
        .row
            .col-lg-4.col-md-3.order-md-1
                a(href='' title='' class='link-fund')
                    +img('img/logo/logofund.svg')
            .col-6.col-sm-4.col-md-3.order-md-1
                h6 Відділ продажу
                +a('Київ, просп. Відрадний, 103', 'link-footer')

            .col-md-6.col-lg-5.order-3.order-md-1
                ul.footer-list
                    li
                        +a('Обрати планування', 'footer-list_link')
                    li
                        +a('Обрати будинок', 'footer-list_link')
                    li
                        +a('Про комплекс', 'footer-list_link')
                    li
                        +a('Розташування', 'footer-list_link')
                    li
                        +a('Новини', 'footer-list_link')
                    li
                        +a('Web камера', 'footer-list_link')
                    li
                        +a('Зв’язатися з нами', 'footer-list_link')
                    li
                        +a('Контакти', 'footer-list_link')

            .col-6.col-sm-4.offset-md-3.offset-lg-4.col-md-3.order-md-1
                h6 Телефон
                +a('+38 (044) 299 48 52', 'link-footer')
                br
                +a('+38 (044) 299 48 52', 'link-footer')

            .col-sm-4.col-md-6.col-lg-5.order-md-1
                .spacer-footer-mob
                h6 Шукайте нас у соцмережах
                ul.footer-social
                    li
                        a(href='' title='').footer-social__link
                            include ../../_svgs/facebook.svg
                    li
                        a(href='' title='').footer-social__link
                            include ../../_svgs/instagram.svg

        .row.footer-row
            .col-12
                hr
            .col-8.col-md-6
                .footer-copyright Copyright all rights reserved. 2018
            .col-4.col-md-6
                a(href='' title='').footer-agency-link
                    include ../../_svgs/volta-logo.svg

