a
  text-decoration none
  font-family $m-font, sans-serif
  co($gray-text1)
  trans()
  svg g 
    trans()
  &:hover
    text-decoration none
    co($pink)
  &:focus
    text-decoration none
    outline none

.link-detail
  display inline-block
  position relative
  font-size: e(14)
  font-weight: bold;
  color: $blue-dark
  &:after
    ba()
    left 0
    right 0
    bottom: -12px;
    width 40px
    height 6px
    bg($pink)
    trans()
    +mob()
      width 100%
  &:hover
    color: $blue-dark
    &:after
      width 100%

  &.link-detail-big
    fs(16)
    +mob()
      float right
      fs(14)
      mr(28)
    &:after
      bottom -17px
      +mob()
        bottom -11px




