mixin li-a(text, className)
    li
        a(href='' title='' class= className)= text

mixin a(text, className)
    a(href='' title='' class= className)= text

mixin link-detail(text)
    +a(text, 'link-detail')

mixin link-detail-big(text)
    +a(text, 'link-detail link-detail-big')
