select
  -webkit-appearance none
  -moz-appearance none
  width 100%
  border none
  font-size: e(14)
  line-height: 1.71;
  co($blue-dark)
  bg($tr)
  trans()
  padding r(10) 0 r(11)
  display block
  &:focus
    outline none

.select-group
  position relative
  z-index 20
  mb(46)
  +mob()
    mb(29)
  &:after
    +mob()
      triangle(#bbc4d7, down, 4px)
      top calc(50% - 2px)
      right 8px

  .chosen-container-single .chosen-default span, .chosen-container-single .chosen-single span
    pl(31)

  .chosen-container.chosen-with-drop
    & ~ .input-group_icon
      svg g
        fill $gray-text2
    & ~ .input-group_line
      bg($gray-text2)