.discount
  bg($yellow1)
  position relative
  &__image
    height 100%
    position absolute
    top 0
    bottom 0
    left -150px
  &__description
    pt(15)
    pl(98)

  &.discount-header
    position absolute
    top -87px
    left 15px
