.discount
  position relative
  display flex
  align-items center
  z-index 30
  &:after
    ba()
    bg($yellow1)
    top 0
    bottom 0
    right 0
    left 95px
    z-index -1
  &__description
    padding r(15) r(12) r(30)
  &__image
    display flex
    justify-content flex-end
    max-width: 181px;
    flex: 0 0 181px;

