.discount
  position relative
  display flex
  align-items center
  z-index 30
  &:after
    ba()
    bg($yellow1)
    top 0
    bottom 0
    right 0
    left 95px
    z-index -1
    +mob()
      left 0
  &__description
    padding r(15) r(12) r(30)
    +mob()
      pl(20)
    p
      co($yellow-text)
      +mob()
        font-size: r(12)
        line-height: 1.5
        mb(16)
  &__image
    display flex
    justify-content flex-end
    max-width: 181px;
    flex: 0 0 181px;
    +mob()
      max-width 105px
      pl(25)
    img
      max-width 100%

  &.discount-blue
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.12);
    &:after
      bg(#b4ebff)
      left 0
    p
      co(#3d6c7d)
