mixin discount()
    .discount.discount-header
        .discount__image
            +img('img/illus/discount/discount1.svg')
        .discount__description
            h3 Акція!
            p Отримай знижку на місце для парковки до 25 березня
            a(href='' title='').link-detail Детальніше
