mixin discount(img, heading, text)
    .discount.discount-header
        .discount__image
            +img(img)
        .discount__description
            h3= heading
            p= text
            +link-detail('Детальніше')
