.section-breadcrumbs
  pt(0)
  pb(34)

.breadcrumbs
  df(row)
  li
    position relative
    pr(7)
    mr(3)
    &:after
      ba()
      right 0
      bottom 1px
      height 12px
      width 1px
      bg($gray-text3)
      transform rotate(20deg)
    &:last-child
      &:after
        display none
      a
        cursor default
        pointer-events: none
    a
      display inline-block
      co($gray-text3)
      fs(12)
      &:hover
        co($pink)
