.section-planning
  pt(0)
  mb(0)
  pb(32)

  &:after
    trans()
    top 90px
    bg(#ebf7ff)

  &.section-planning-change
    &:after
      bg($yellow1)

  &.section-planning-choosed
    &:after
      bottom 145px
      bg($yellow1)