.section-garden
  pt(68)
  pb(5)
  mb(0)

  &:after
    bg($yellow1)
    top: 104px;
    bottom 29%
    +land()
      bottom 19%


.container-garden
  padding-bottom r(388)
  +mob()
    pb(200)
  h2
    +mob()
      mb(300)