mixin pagination()
    ul.pagination
        li.arrow.left
            a(href='' title='')
                include ../../_svgs/angle-left-pink.svg

        +li-a('1')
        +li-a('2', 'active')
        +li-a('3')

        li.arrow.right
            a(href='' title='')
                include ../../_svgs/angle-right-pink.svg

