.pagination
  df(row)
  justify-content center
  align-items center
  margin r(68) auto
  li
    margin 0 r(15)
    a
      display inline-block
      co(#064778)
      fs(14)
      fw(500)
      &:hover
        co($pink)
    .arrow
      df(row)
      justify-content center
      align-items center
      height 100%
    .active
      cursor default
      pointer-events: none;
      fs(23)
      &:hover
        co(#064778)