.container-partners
  pt(190)
  +mob()
    pt(150)

.partners-list
  pt(22)
  display flex
  justify-content space-between
  flex-wrap wrap
  +mob()
    pt(18)
  &__li
    height 47px
    max-width 25%
    padding 0 r(30)
    position relative
    +tab()
      mb(20)
    +port()
      max-width 33.33333%
      mb(20)
    +mob()
      max-width calc(50% - 15px)
      padding 0
      mb(34)
    &__heading
      font-size: e(14)
      font-weight: 500;
      text-align: center;
      color: $green-dark
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      display flex
      align-items center
      justify-content center
      opacity 0
    &__image
      display: flex
      align-items center
      justify-content center
      width 100%
      height 100%
      svg
        height 100%
        width auto
        polygon, path, circle, rect
          fill $green-dark
          trans()
    &:hover
      .partners-list__li__image
        svg
          polygon, path, circle, rect
            fill $green-light
      .partners-list__li__heading
        opacity 1