$bk = #000
$wt = #fff
$gr = #a9a9a9
$gr2 = #ccc
$tr = transparent

$bltx1 = #5b5e74
$bltx2 = #969fb1
$bltx3 = #3d6c7d
$bltx4 = #29475d

$bk1 = #1f2127
$bk2 = #393b42

$grey1 = #d0d6e4
$gray2 = #6c6c6c
$gray-text1 = #bbc4d7
$gray-text2 = #8f91a3

$yellow1 = #ffdd00
$yellow2 = #ffeb6b
$yellow-text = #968200

$ocean1 = #0fc0ea
$ocean2 = #61c8e0
$ocean3 = #def6ff
$ocean4 = #83e7ff
$ocean5 = #E5F8FE
$ocean6 = #B4EBFF

$blue = #0066b3
$blue-dark = #064778

$pink = #eb53c0
$pink-dark = #b40f86

$green = #2dc689
$green-text = #2ec489
$green-dark = #0d683c
$green-light = #33d695

$shadow = 0 2px 28px 0 rgba(119, 122, 185, 0.18)