//img {}

.img-responsive
  width 100%

.img-back
  position absolute

.img-back-river
  top 250px
  left 0
  z-index -1
  +mob()
    display none
  &-mob
    display none
    +mob()
      width 100%
      display block
      bottom 0

.img-back-trees
  top 0
  left calc(59% - 585px)
  +tab()
    left calc(59% - 465px)
  +port()
    left calc(59% - 360px)
  +mob()
    display none
  &-mob
    display none
    +mob()
      width 100%
      display block
      top 0
      left 15px

.img-back-road
  top: 481px;
  left: calc(51.4% - 585px);
  z-index -1
  +mob()
    display none

.img-back-car
  top: 623px;
  left: calc(67.3% - 55px);
  +tab()
    left calc(67.3% - 1px)
  +port()
    left calc(67.3% + 40px)
  +mob()
    display none
  &-mob
    display none
    +mob()
      display block
      bottom: -90px;
      left: 0;

.img-back-blocks
  right 14px
  top -106px

.img-back-coub
  right: calc(56.6% - 585px);
  bottom -39px
  +tab()
    right calc(56.6% - 465px)
  +port()
    right calc(56.6% - 360px)
  +mob()
    right: 26px;
    max-width: 119px;
    bottom: -25px;


.img-back-bus-pipt
  top: -175px;
  z-index -1
  &-trees
    right: -17%;
    top: 108px;

.img-back-trees-two1
  bottom: -52px;
  left: calc(85.25% - 585px);
  +tab()
    left calc(85.25% - 465px)
  +port()
    left calc(85.25% - 360px)

.img-back-trees-two2
  bottom -81px
  left 111px

.img-back-chair
  bottom -112px
  right 180px


.img-back-baum
  top -240px
  right -88px
  z-index -1


.img-change_image
  +xs()
    mb(25)


.img-change_place
  +xs()
    display none


.img-margin-top
  mt(68)
