//img {}

.img-responsive
  width 100%

.img-back
  position absolute

.img-back-road1
  top 250px
  left 0
  z-index -1

.img-back-trees
  top 0
  left calc(59% - 585px)

.img-back-road2
  top: 481px;
  left: calc(51.4% - 585px);
  z-index -1

.img-back-car
  top: 623px;
  left: calc(67.3% - 55px);

.img-back-blocks
  right 14px
  top -106px

.img-back-coub
  right: calc(56.6% - 585px);
  bottom -39px

.img-fundament
  margin r(6) 0