article

  ul
    li
      position relative
      pl(20)
      mb(13)
      fs(14)
      co($gray-text2)
      &:before
        ba()
        width: 6px;
        height: 6px;
        bg($ocean2)
        top 6px
        left 0
        border-radius 50%