include ../../utilities/pug/utilities.pug

doctype html

block vars
    - var bodyClass

html

    include ../../components/_layout/head/head

    body(class=bodyClass)
        //include ../../components/_layout/preloader/preloader

        include ../../components/_layout/navigation/navigation

        main

            block content

        include ../../components/_layout/footer/footer

            //+cookie()

        script(type="text/javascript" src="js/vendor.js")
        script(type="text/javascript" src="js/scripts.js")