.slider.slider-manager
    div
        +manager('img/illus/manager/manager.png', 'Христина  Христиненко', 'Ваш особистий помічник та менеджер з продажів компанії «Фундамент»')
    div
        +manager('img/illus/manager/manager.png', 'Христина  Христиненко', 'Ваш особистий помічник та менеджер з продажів компанії «Фундамент»')