section.section-manager
    .container
        .row
            .col-xl-5.col-lg-6
                h2 Замовити консультацію менеджера
        .manager-block
            .row.manager-block-row-form
                .col-sm-8.col-md-12.col-lg-6.col-md-10
                    include manager-slider
                .col-sm-8.col-md-12.col-lg-6
                    form.form-manager
                        .input-group
                            input(type='text' placeholder='Номер телефону').input-group_input
                            .input-group_error У номері недостатньо цифр!
                            .input-group_line
                            .input-group_icon
                                include ../../_svgs/form-phone.svg
                        .input-group
                            input(type='text' placeholder='Номер телефону').input-group_input.error
                            .input-group_error У номері недостатньо цифр!
                            .input-group_line
                            .input-group_icon
                                include ../../_svgs/form-phone.svg
                        .input-group.select-group
                            select.chosen-select(data-placeholder='Зручний час для дзвінка')
                                option
                                option Найближчим часом
                                option з 9:00 до 12:00
                                option з 12:00 до 15:00
                            .input-group_error У номері недостатньо цифр!
                            .input-group_line
                            .input-group_icon
                                include ../../_svgs/form-phone.svg
                        +btn-submit('Замовити')
            .row.manager-block-row-success.hidden
                .offset-lg-2.col-lg-4
                    .form-manager__image
                        +img('img/icons/form-success.svg')
                .col-lg-6
                    .form-manager__text
                        .form-manager__text__content
                            h2 Дякуємо за заявку!
                            p Христина зателефонує у зручний для вас час
                            +a('Заповнити форму ще раз', 'form-manager_back')