.cookie
  position fixed
  z-index 9999
  bottom 0
  left 0
  right 0
  padding r(29) 0 r(31)
  bg($wt)
  box-shadow: 0 -15px 28px 0 rgba(0, 0, 0, .05);
  p
    mb(0)
    co($pink-error)
    max-width 90%
  .nav-widgets__camera__tooltip_close
    width: 23px;
    height: 23px;
    &:after, &:before
      width 23px
      height 3px
