mixin cookie()
    .cookie
        .container
            .row
                .col-12
                    p Наш сайт використовує файли cookie, які запезпечують правильну роботу сайту та комфортне використання  його функцій.  Дякуємо що з нами!
                    .nav-widgets__camera__tooltip_close#close-cookie