mixin blog()
    a(href='' title='').blog
        .blog__image
            .blog__image_photo Фотозвіт
            +img('img/illus/blog/blog1.png')
        .blog__description
            h3 Щоб прискорити будівництво, закуплено ще чотири крани
            p Lorem ipsum – псевдо-латинский текст,  который используется для веб дизайна, типографии, оборудования, и распечатки  вместо английского текста .
            .blog__description_date 29 листопада 2018 р.
            .link-detail.link-detail-big Читати