mixin blog-slide()
    .row
        .col-lg-7.col-xl-8
            .slider-blog__image
                .slider-blog__image_photo Фотозвіт
                +img('img/illus/blog/blog1.png')
        .col-lg-5.col-xl-4
            .slider-blog__description
                p.slider-blog_date 29 листопада 2018 р.
                h3.h3-blue Квартири з ремонтом вже можна переглянути у відділі продажів
                p.slider-blog_text Lorem ipsum – псевдо-латинский текст,  который используется для веб дизайна, типографии, оборудования, и распечатки  вместо английского текста .
                +link-detail('Читати')