html
  font-size $base-font-pixels

html, body
  overflow-x hidden

body
  font(r(16), 400, normal)
  co($bk)
  bg($wt)
  font-family $m-font, sans-serif
  pt(115)
  +mob()
    pt(76)

.spacer-20
  height 20px

.spacer-50
  height 50px

.spacer-70
  height 70px

.container
  +xs()
    max-width 100% !important
